page {
  background-color: #FF5400;
}

button {
    font-size: 30;
    font-family: GretoonHighlight;
    color: white;
    horizontal-align: center;
    background-image: url("~/images/green-rect-btn-unpressed.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 350;
    height: 100;
}

.gameBlock {
  font-size: 30;
  text-align: center;
  vertical-align: middle;
}

.title {
    font-size: 30;
    font-family: Gretoon;
    color: white;
    horizontal-align: center;
    margin: 20;
}

.title-leaderboard {
  font-size: 37;
  font-family: Gretoon;
  color: white;
  horizontal-align: center;
  margin-top: 10;
}

.leadeboard-lv-style{
  margin-left: 10;
  font-size: 22;
  font-family: Gretoon;
  color: yellow;
}

#pointsLabel {
  text-align: center;
  color: white;
  font-size: 80px;
}

#selfieContainer {
  margin: 10px;
}

#list {
  text-align: center;
}

.message {
    font-size: 20;
    color: #284848;
}

.settins-labels {
  font-size: 25;
  color: yellow;
  font-family: GretoonHighlight;
  padding-left: 15;
  width: 230;
}

.score-title {
  font-size: 45;
  font-family: Gretoon;
  color: white;
  horizontal-align: center;
  margin-top: 40;
}

.score-label {
  font-size: 80;
  font-family: GretoonHighlight;
  color: blue;
  horizontal-align: center;
}

.about{
  font-size: 27;
  font-family: Gretoon;
  color: yellow;
  horizontal-align: center;
}
